################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs
/API/Apsis.Abstractions/obj
/API/Apsis.Abstractions/bin
/API/Apsis.API/obj
/API/Apsis.API/bin
/API/Apsis.Business/obj
/API/Apsis.Business/bin
/API/Apsis.DependencyResolver/obj
/API/Apsis.DependencyResolver/bin
/API/Apsis.Models/obj
/API/Apsis.Models/bin
/API/Apsis.Repository/obj
/API/Apsis.Repository/bin
/API/Apsis.AzureServices/bin
/API/Apsis.AzureServices/obj
/API/Apsis.Logging/obj
/API/Apsis.Logging/bin
/API/Apsis.Notification/obj
/API/Apsis.Notification/bin
/API/Apsis.Tests/obj
/API/Apsis.Tests/bin
/UI/node_modules
/UI/dist
/UI/tmp
/UI/out-tsc
/UI/.idea
/UI/.project
/UI/.classpath
/UI/.c9/
/UI/*.launch
/UI/.settings/
/UI/*.sublime-workspace
/UI/.vscode/*
/UI/!.vscode/settings.json
/UI/!.vscode/tasks.json
/UI/!.vscode/launch.json
/UI/!.vscode/extensions.json
/UI/.sass-cache
/UI/connect.lock
/UI/coverage
/UI/libpeerconnection.log
/UI/npm-debug.log
/UI/yarn-error.log
/UI/testem.log
/UI/typings
/UI/.DS_Store
/UI/Thumbs.db
.editorconfig
/UI/node_modules
/API/Apsis.AzureServices/bin
/API/Apsis.AzureServices/obj
/UI/package-lock.json
/API/Apsis.Tests/obj
/API/Apsis.Tests/bin
/API/Apsis.API/wwwroot
/.vscode
/.vs
/API/TestResults